<div class="vh-100-container">
  <div class="wrapper-gray-artshow">
    <div class="container text-center height-100">
      <div class="row height-100">
        <div class="col-xs-12 height-100">
          <div class="image-flexbox">
            <%= cl_image_tag @artwork.image, class: "image-resize image-rounded fade-in"%>
          </div>
        </div>
      </div>
    </div>
  </div>

          <% if request.original_url.include?("interest=") %>
    <div class="wrapper-white-artshow no-margin">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
              <%= link_to "Something else", artworks_path(mood: params[:mood], interest: params[:interest], next_index: params[:next_index], index_start: params[:index_start], art_array: params[:art_array] ), class: "button-outline button-gray" %>
               </div>
              </div>
            </div>
          </div>
          <% end %>
</div>
<div class="wrapper-white-artshow-description no-margin">
    <div class=" container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
          <h1 class="title"><%= @artwork.title %></h1>
          <h3 class="date"><%= @artwork.date %></h3>
          <%= link_to artist_path(@artwork.artist), class: "no-text-decoration " do  %>
          <h3 class = "artist-name-color"><%= @artwork.artist.name %></h3>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-7">
          <p class="description-long text-justify"><%= @artwork.description %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <% if current_user.present? %>
          <div class="button">
            <%= link_to "Hang in my room", artwork_hangings_path(@artwork.id), method: :post, class: "button-outline button-blue"  %>
          </div>
        <% else %>
          <div class="button">
            <%= link_to "Sign up to hang picture", new_user_session_path, class: "button-outline button-blue" %>
          </div>
        <% end %>
      </div>
    </div>
</div>

