
<div class="wrapper-gray">
  <div class="container text-center height-100">
    <div class="row">
      <div class="col-xs-12">
        <div class="image-flexbox">
          <%= cl_image_tag @artwork.image, class: "image-resize image-rounded"%>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white no-margin">
  <div class="container">
    <div class="title-description-container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2">
          <h1 class="title"><%= @artwork.title %></h1>
          <h3 class="date-and-name"><%= @artwork.date %></h3>
          <%= link_to artist_path(@artwork.artist), class: "no-text-decoration" do  %>
          <h3 class="date-and-name"><%= @artwork.artist.name %></h3>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
          <p class="description-long text-justify"><%= @artwork.description %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1 text-center">
        <% if request.original_url.include?("interest=") %>
          <div class="button">
            <%= link_to "Something else", artworks_path(mood: params[:mood], interest: params[:interest], next_index: params[:next_index], index_start: params[:index_start], art_array: params[:art_array] ), class: "button-outline button-gray" %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
        <% if current_user.present? %>
          <div class="button">
            <%= link_to "Hang in my room", artwork_hangings_path(@artwork.id), method: :post, class: "button-outline button-blue"  %>
          </div>
        <% else %>
          <div class="button">
            <%= link_to "Sign up to hang picture", new_user_session_path, class: "button-outline button-blue" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

