<div class="vertical-wrapper-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <%= cl_image_tag @artwork.image, class: "image-resize image-rounded"%>
      </div>
    </div>
    <div class="line-separator"></div>
    <div class="row title">
      <h1><%= @artwork.title %></h1>
    </div>
    <div class="row date-and-name">
      <h3><%= @artwork.date %></h1>
    </div>
    <div class="row date-and-name">
      <%= link_to artist_path(@artwork.artist), class: "no-text-decoration" do  %>
        <h3><%= @artwork.artist.name %></h3>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p class="description-long text-justify"><%= @artwork.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1 text-center">
        <% if request.original_url.include?("?interest=") %>
          <div class="button">
            <%= link_to "Something else", artworks_path(mood: params[:mood], interest: params[:interest], next_index: params[:next_index] ), class: "button-outline button-gray" %>
          </div>
        <% end %>

      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center">
        <% if current_user.present? %>
          <div class="button">
            <%= link_to "Hang in my room", artwork_hangings_path(@artwork.id), method: :post, class: "button-outline button-pink"  %>
          </div>
        <% else %>
          <div class="button">
            <%= link_to "Sign up to hang picture", new_user_session_path, class: "button-outline button-pink" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
