<%= image_tag @artwork.image, width: 300 %>
<h1><%= @artwork.title %></h1>
<h3><%= @artwork.artist.name %></h3>
<p>Mood: <%= @artwork.mood %></p>
<p>Interest: <%= @artwork.interest %></p>
<p><%= @artwork.description %></p>

<%= link_to "Something else" , root_path, class: "button-outline button-gray"%>
<% if @user.present? %>
<%= link_to "Hang in my room", user_path(@user), class: "button-outline button-pink"  %>
<% else %>
<%= link_to "Sign up to hang picture", new_user_session_path, class: "button-outline button-pink" %>
<% end %>
