<% content_for :meta_title, "#{@user.user_name}'s Artroom" %>
<% content_for :meta_description, "See #{@user.user_name}'s personal collection of contemporary art on Artroom" %>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=847384205471698&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="vertical-wrapper-room-white">
  <div class="container">
    <div class="row">
      <div class="room-options">
      <% if @user == current_user %>
        <h1 class="room-title">My room</h1>
        <div class="button-options">
          <p id="save-room" class="button-outline button-gray button-margin">
            <span class="save-span">SAVE</span>
            <span class="save-icon">Saved <i class="fas fa-check"></i></span>
          </p>
          <div class="share button-outline button-blue button-margin">
            <span>SHARE</span>
            <nav>
             <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.artroom.fun%2Fpublicusers%2F<%= current_user.id%>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" data-href="http://www.artroom.fun/publicusers/<%= current_user.id%>"          data-layout="button_count" data-size="small" data-mobile-iframe="true"><i class="fab fa-facebook-f share-icons"></i></a>
             <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-href="http://www.artroom.fun/publicusers/<%= current_user.id%>" data-show-count="false"><i class="fab fa-twitter share-icons"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
           </nav>
         </div>
       </div>
      <% else %>
        <h1 class="room-title"><%= @user.user_name %>'s Room</h1>
      <% end %>
     </div>
    </div>
  </div>
    <div class="art-container">
      <% @user.hangings.each do |hanging| %>
        <div class="image-container image-rounded artblock" style="position: absolute; top: <%= hanging.top.to_s %>%; left: <%= hanging.left.to_s %>%; width: <%= hanging.width.to_s %>%" data-hangingid ="<%= hanging.id %>">
          <div class="art-image-hover">
            <%= cl_image_tag hanging.artwork.image, class: "art-image"%>
            <div class="artwork-hover">
              <div style="height: 50%">
                <div id= "delete-option">
                  <%= link_to hanging_path(hanging), method: :delete, remote: true, class: "button-gray-delete button-margin-10" do %>
                  <i class="far fa-times-circle"></i>
                  <% end %>
                </div>
              </div>
                  <div class= "more-details-option">
                    <p class="button-artwork"><%= link_to "Artwork", artwork_path(hanging.artwork), class: "link-blue" %></p>
                    <p class="button-artwork"><%= link_to "Artist", artist_path(hanging.artwork.artist), class: "link-blue"  %></p>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>

