<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="vertical-wrapper-room-white">
  <div class="container">
    <div class="row">
      <% if @user == current_user %>
        <div class="room-options">
          <h1 class="room-title">My room</h1>
          <div class="button-options">
            <ul class="list-inline">
              <li>

                <div class="button-small button-gray button-margin text-center" id = "save-room">Save</div>

              </li>
              <li>

              <div class="share button-small button-pink button-margin text-center">
                <span><p>Share</p></span>
                <nav>
                  <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </nav>
              </div>

              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <h1 class="room-title"><%= @user.user_name %>'s Room</h1>
      <% end %>
    </div>
    <div class="row">
      <div class="art-container">
        <% @user.hangings.each do |hanging| %>
          <div class="image-container image-small image-rounded artblock" style="position: absolute; top: <%= hanging.top.to_s %>%; left: <%= hanging.left.to_s %>%" data-hangingid ="<%= hanging.id %>">
            <div class="art-image-hover">
              <%= cl_image_tag hanging.artwork.image, class: "art-image"%>
              <div class="artwork-hover">
                <div class="artwork-link">
                  <ul>
                    <li>
                       <p class="button-artwork"><%= link_to "More details", artwork_path(hanging.artwork), class: "button-small button-gray" %></p>
                    </li>
                    <li>
                      <p class="button"> <%= link_to "Delete", hanging_path(hanging), method: :delete, class: "button-small button-gray"  %></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
