<% content_for :meta_title, "#{@user.user_name}'s Artroom" %>
<% content_for :meta_description, "See #{@user.user_name}'s personal collection of contemporary art on Artroom" %>

<div class="vertical-wrapper-room-white">
  <div class="container">
    <div class="row">
      <div class="room-options">
        <h1 class="room-title"><%= @user.user_name %>'s Room</h1>
      </div>
    </div>
  </div>
    <div class="art-container">
      <% @user.hangings.each do |hanging| %>
        <div class="image-container image-rounded" style="position: absolute; top: <%= hanging.top.to_s %>%; left: <%= hanging.left.to_s %>%; width: <%= hanging.width.to_s %>%" data-hangingid ="<%= hanging.id %>">
          <div class="art-image-hover">
            <%= cl_image_tag hanging.artwork.image, class: "art-image"%>
            <div class="artwork-hover">
              <div style="height: 50%">
                <div id= "delete-option">
                  <%= link_to hanging_path(hanging), method: :delete, remote: true, class: "button-gray-delete button-margin-10" do %>
                  <i class="far fa-times-circle"></i>
                  <% end %>
                </div>
              </div>
                  <div class= "more-details-option">
                    <p class="button-small button-pink button-artwork"><%= link_to "Artwork", artwork_path(hanging.artwork) %></p>
                    <p class="button-small button-gray button-artwork"><%= link_to "Artist", artist_path(hanging.artwork.artist)  %></p>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>


